.Conatiner{
  height: auto;
  width: 80%;
  margin: 0 auto;
}
.admin-table{
  display: flex;
  justify-content: space-around;

}
.search-bar{
  height: 50px;
  width: 70%;
}
.search-bar input{
  width: 80%;
    border-radius: 20px;
    margin: 20px
}